.page-content {
    
    width: 100%;
    height: 100%;
    background-size: cover;
}
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
}